
.garamound {
    font-family: 'Times New Roman', Times, serif;
}
.darker {
    font-family: 'Darker Grotesque', sans-serif;
}
h1.darker {
    font-size: 35px;
    color:#FFFFFF;
}
body{
    background-color: #5ca1d7;
}
.top {
    color: #FFFFFF;
}
.top h1 {
    text-align: center;
}
.top h1:hover {
    color: #000000;
}
.top p {
    font-size: 20px;
    line-height: 1em;
    text-align: center;
}
.top p.darker {
    font-size: 22px;
    font-weight: 500px;
    margin-top: 19px;
}
.darker span {
    letter-spacing: -2px;
    display: inline-block;
    width: 50px;
}
main {
    max-width: 600px;
    margin: 0 auto;
}
ol li {
    font-weight: 600px;
    font-family: 'Darker Grotesque', sans-serif;
    letter-spacing: -1px;
    font-size: 23px;
    line-height: 1em;
}
img {
    display: block;
    width: 40%;
    margin: 0 auto;
}
blockquote {
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
    line-height: 1.25em;
}
figcaption.darker {
    text-align: center;
    color: #000000;
    font-size: 1.3em;
}