@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');
body {
    background-color:white;
    font-family: Kalnia Glaze, Arial, sans-serif;
    text-align: center;
}
ul li {
    color: #FF0000;
    background: #FFFFFF;
    margin: 5px;
    list-style-position: inside;
}
ul {
    list-style-type: none;
    padding: 10px 30px;
}

li {
    background-color: #f0f0f0;
    padding: 10px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

li:hover {
    background-color: #d3d3d3;
    padding: 10px 30px;
}
h1 {
    padding: 15px;
}
h2, p {
    padding: 20px;
    text-align: center;
}
img {
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 30px 30px 30px 30px;
}
